@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
    @apply bg-slate-50 text-gray-800 antialiased;
  }

  h1, h2, h3 {
    font-family: 'Manrope', sans-serif;
  }

  * {
    @apply scroll-smooth;
  }

  ::-webkit-scrollbar { width: 5px; height: 5px; }
  ::-webkit-scrollbar-track { @apply bg-transparent; }
  ::-webkit-scrollbar-thumb { @apply bg-gray-300 rounded-full; }
  ::-webkit-scrollbar-thumb:hover { @apply bg-gray-400; }
}
